:root {
  --vp-c-green: rgb(238, 115, 38);
  --vp-c-green-light: #f38b54;
  --vp-c-green-lighter: #faa77a;
  --vp-c-green-dark: #cb4e00;
  --vp-c-green-darker: #652802;

  --vp-c-green-dimm-1: rgba(238, 115, 38, 0.5);
  --vp-c-green-dimm-2: rgba(238, 115, 38, 0.25);
  --vp-c-green-dimm-3: rgba(238, 115, 38, 0.05);
}

.VPNavBar.has-sidebar .content {
  background: var(--vp-c-bg);
}
